.CircularProgressbar-text{
    font-family: 'Regular';
    font-weight: 600;
}

.CircularProgressbar-path {
    stroke: #0092FC!important;
  }

  .CircularProgressbar-trail {
    stroke: #D8DCF2!important;
  }