.arrow{
    position: relative;
    top: 40px;
    width: 40px;
    height: 40px;
    right: 120px;
}
.guage{
    text-align: center;
    display: flex;
    width: 400px;
    height: 220px;
    justify-content: center;
    //flex-direction: column;
    .guage-body{
        display: block;
    }
    .guage-content{
        position: relative;
        right: 25px;
        h4{
            margin-left: 0px!important;
        }
        p{
            font-family: 'Regular';
            color: #8C8C8C;
        }
    }
}

.series{
    position: relative;
    top: 45px;
    right: 40px;
    ul{
        li{
            font-family: 'Regular';
            list-style: none;
        }
    }
}