.apexcharts-legend-marker{
    width: 17px!important;
}

.apexcharts-legend-text{
    font-family: 'Regular'!important;
    font-size: 15px!important;
}

.apexcharts-tooltip-title {
    font-family: 'Regular'!important;
    font-size: 13px;

}

.apexcharts-text tspan {
    font-family: 'Regular';
}

.donut{
    margin-top: 20px;
}