.table-container{
    max-height: 300px;
    overflow-y: scroll;
    padding: 10px;
    table{
        tr,th{
            font-family: 'Regular';
            font-weight: 700;
            border: none;
        }
        td{
            color: #7B7B7B;
            border: none;
            font-weight: 500;
            text-align: center;
        }
        thead{
            border-color: white;
        }
        tbody{
            border: none;
        }
    }
}
