.topic_layout{
    display: flex;
}

.topic_body{
    position: relative;
    bottom: 47px;
    right: 100px;
    p{
        font-family: 'Regular';
        color: black;
        font-size: 20px;
    }
    h5{
        font-family: 'Regular';
        font-size: 35px;
    }
    li{
        list-style: none;
        font-family: 'Regular';
        margin-left: 120px;
        display: flex;
        //font-weight: 600;
    }
}

.legend-icon{
    min-width: 25px;
    min-height: 15px;
    background-color: blue;
    border-radius:25px;
}